<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="Suite" parallel="tests">

  <listeners>
  <listener 
           class-name="Com.qa.ExtentReportListner.ExtentRepoterNg"/>
  </listeners>




  <test name="Test">
    <classes>
      <class name="com.Freecrm.qa.TestCasees.ContactspageTest"/>
      <class name="com.Freecrm.qa.TestCasees.HomepageTest"/>
      <class name="com.Freecrm.qa.TestCasees.AddNewContactpageTest"/>
      <class name="com.Freecrm.qa.TestCasees.LoginPageTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
